<div class="available-colours">
  <h3>Available colours</h3>
  <ul class="available-colours__swatches">
    {{#each colours}}
      <li class="{{slugify .}}"><span>{{.}}</span></li>
    {{/each}}
  </ul>
</div>
