$swatch_diameter: 18px;

@mixin swatch($pri_colour, $secondary_colour: '') {
  background-color: $pri_colour;

  @if $secondary_colour != '' {
    &:after {
      position: relative;
      left: $swatch_diameter / 2;
      display: block;
      content: '';
      height: $swatch_diameter;
      width: $swatch_diameter / 2;
      border-radius: 0 ($swatch_diameter / 2) ($swatch_diameter / 2) 0;
      background-color: $secondary_colour;
      transform-origin: 0 50%;
      transform: rotate(45deg);
    }
  }
}

.available-colours {
  float: none; // for some reason all <divs> are floated? this makes life difficult.
}

.available-colours__swatches {
  margin: 20px 0;
  padding: 0;
}

.available-colours__swatch {
  display: inline-block;
  height: $swatch_diameter;
  width: $swatch_diameter;
  margin-right: 4px;
  border-radius: 50%;

  span {
    // hide the label from display, but not screenreaders
    @extend .visuallyhidden;
  }
}

.available-colours__swatch--black          { @include swatch(#000); }
.available-colours__swatch--white          { @include swatch(#fff); }
.available-colours__swatch--yellow         { @include swatch(#f0e76f); }
.available-colours__swatch--pink           { @include swatch(#fab5c4); }
.available-colours__swatch--purple         { @include swatch(#5b408d); }
.available-colours__swatch--turquoise      { @include swatch(#42c1a8); }
.available-colours__swatch--brown          { @include swatch(#af7767); }
.available-colours__swatch--orange         { @include swatch(#ff9c56); }
.available-colours__swatch--black-and-grey { @include swatch(#000, #777); }
