$swatch_diameter: 18px;

@mixin swatch($pri_colour, $secondary_colour: '') {
  background-color: $pri_colour;

  @if $secondary_colour != '' {
    &:after {
      position: relative;
      left: $swatch_diameter / 2;
      display: block;
      content: '';
      height: $swatch_diameter;
      width: $swatch_diameter / 2;
      border-radius: 0 ($swatch_diameter / 2) ($swatch_diameter / 2) 0;
      background-color: $secondary_colour;
      transform-origin: 0 50%;
      transform: rotate(45deg);
    }
  }
}

.available-colours {
  float: none; // for some reason all <divs> are floated? this makes life difficult.

  .available-colours__swatches {
    margin: 20px 0 0 0;
  }

  .available-colours__swatches li {
    display: inline-block;
    height: $swatch_diameter;
    width: $swatch_diameter;
    margin-right: 4px;
    border-radius: 50%;

    span {
      // hide the label from display, but not screenreaders
      @extend .visuallyhidden;
    }
  }

  .black          { @include swatch(#000); }
  .white          { @include swatch(#fff); }
  .yellow         { @include swatch(#f0e76f); }
  .pink           { @include swatch(#fab5c4); }
  .purple         { @include swatch(#5b408d); }
  .turquoise      { @include swatch(#42c1a8); }
  .brown          { @include swatch(#af7767); }
  .orange         { @include swatch(#ff9c56); }
  .black-and-grey { @include swatch(#000, #777); }
}
