.sony-button {
  position: relative;
  width: auto;
  height: 38px;
  float: left;
  margin-right: 20px;
  padding: 0 20px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  background-color: #fff;
  color: #4d4d4d;
  border: 2px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $sony-red;
    color: #fff;
  }
} 

.sony-button--reversed {
  background-color: #000;
  color: #fff;
}
