.nav {
  display: table;
  float: none;
  margin: 20px auto 0 auto;
}

.nav__menu {
  list-style: none;
}

.nav__item {
  display: inline;

  &:first-child .nav__link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
  }

  &:last-child .nav__link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
  }
}

.nav__link {
  float: left;
  height: 26px;
  padding: 5px 10px;
  font-size: 12px;    
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  background: linear-gradient(to bottom, #fff 0%, #fff 52%, #f4f5f5 54%, #939393 100%);
  color: #616161;

  &:hover {
    color: #fff;
    background: #ae1825; // fallback for older browsers
    background: linear-gradient(to bottom, #ae1825 0%, #c22e37 15%, #c22e37 15%, #c22e37 85%,#ae1825 100%);
  }
}

.nav__link--tablet:hover {
  background: #588436; // fallback for older browsers
  background: linear-gradient(to bottom, #588436 0%, #739e4d 15%, #739e4d 85%, #588436 100%);
}

.nav__link--accessory:hover {
  background: #c8692f; // fallback for older browsers
  background: linear-gradient(to bottom, #c8692f 0%, #d68343 15%, #d68343 85%, #c8692f 100%);
}

.nav__link--coolstuff:hover {
  background: #216ca8; // fallback for older browsers
  background: linear-gradient(to bottom, #216ca8 0%, #3287bd 15%, #3287bd 85%, #216ca8 100%);
}
