.nav {
  display: table;
  float: none;
  margin: 0 auto;
}

.nav__menu {
  list-style: none;
}

.nav__item {
  display: inline;

  &:first-child .nav__link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
  }

  &:last-child .nav__link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 20px;
  }
}

.nav__link {
  float: left;
  height: 26px;
  padding: 5px 10px;
  font-size: 12px;    
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  background: linear-gradient(to bottom, #fff 0%, #fff 52%, #f4f5f5 54%, #939393 100%);
  color: #616161;

  &:hover {
    color: #fff;
    @include inset-box-gradient($sony-red, $sony-lighter-red);
  }
}

.nav__link--tablet:hover {
  @include inset-box-gradient($sony-green, $sony-lighter-green);
}

.nav__link--accessory:hover {
  @include inset-box-gradient($sony-orange, $sony-lighter-orange);
}

.nav__link--coolstuff:hover {
  @include inset-box-gradient($sony-blue, $sony-lighter-blue);
}
