// raw product - similar module to OOCSS' media object
.product {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  border-bottom: 1px solid white;

  // alternate alignment (left/right flip)
  &:nth-child(even) > .product__image,
  &:nth-child(even) > .product__details {
    float: right;
    margin-right: 50px;
    margin-left: 0;
  }
}

.product__details {
  float: left;
  width: 460px;
  margin-left: 50px;

  // this shouldn't really be nested, but neccessary to override
  // `.container_25 h1` selector
  .product__title {
    margin-top: 0;
    font-size: 34px;
    font-weight: normal;
    height: auto;
  }

  // this shouldn't really be nested, but .product__title is, so this is consistent
  .product__description {
    line-height: 1.42em; // 20px / 14px
  }

  // this shouldn't really be nested, but neccessary to override
  // `.container_25 h3` selector
  .product__tagline {
    color: #fff;
    font-size: 14px;
  }

  // this shouldn't really be nested, but neccessary to override
  // `.container_25 h4` selector
  .product__heading {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.product__spec {
  @extend .clearfix;
}

.product__spec-col {
  width: 45%;
  float: left;
  margin-right: 5%;
}

.product__spec-label {
  font-weight: bold;
  text-transform: uppercase;
}

.product__image {
  float: left;
  width: 380px;
  margin-left: 50px;
}

.product--red    .product__heading { color: #ae1825; }
.product--orange .product__heading { color: #c8692f; }
.product--green  .product__heading { color: #588436; }
.product--blue   .product__heading { color: #216ca8; }

.product--tablet {
  .product__details {
    width: 540px;
  }
  .product__image {
    width: 300px;
  }
}

.product--accessory {
  background: #d68343; // fallback for older browsers
  background: linear-gradient(to bottom, #d68343 0%, #d68343 85%, #b56541 100%);
}

.product--coolstuff {
  background: #3287bd; // fallback for older browsers
  background: linear-gradient(to bottom, #3287bd 0%, #3287bd 85%, #0068ad 100%);
}
