// raw product - similar module to OOCSS' media object
.product {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $body-text;
  border-bottom: 1px solid #fff;

  // alternate alignment (left/right flip)
  &:nth-child(even) {
    > .product__main {
      float: right;
    }
    > .product__aside{
      float: right;
      margin-left: 60px;
      margin-right: 0;
    }
  }
}

.product__main {
  float: left;
  width: 540px;
  margin-left: 60px;
  margin-right: 60px;

  // this shouldn't really be nested, but neccessary to override
  // `.sony-microsite h[X]` selector
  .product__title {
    margin-top: 0;
    font-size: 34px;
    font-weight: normal;
    height: auto;
  }

  // this shouldn't really be nested, but neccessary to override
  // `.sony-microsite h[X]` selector
  .product__tagline {
    color: $body-text;
    font-size: 14px;
  }

  // this shouldn't really be nested, but neccessary to override
  // `.sony-microsite h[X]` selector
  .product__heading {
    color: $body-text;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.product__description {
  line-height: 1.42em; // 20px / 14px
}

.product__spec {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  @extend .clearfix;
}

.product__spec-col {
  width: 45%;
  float: left;
  margin-right: 5%;
}

.product__spec-label {
  font-weight: bold;
  text-transform: uppercase;
}

.product__aside {
  float: left;
  width: 270px;
  margin-right: 60px;
  text-align: center;
}

.product__image {
  max-width: 100%;
}

.product--red    .product__heading { color: $sony-red; }
.product--orange .product__heading { color: $sony-orange; }
.product--green  .product__heading { color: $sony-green; }
.product--blue   .product__heading { color: $sony-blue; }

.product--accessory {
  @include bottom-inset-box-gradient($sony-orange, $sony-lighter-orange);

  .product__main {
    width: 440px;
  }
  .product__aside {
    width: 370px;
  }
}
