.smartphones--section,
.tablets--section,
.coolstuff--section,
.accessories--section {
	height:400px;
	color:white;
	padding:20px 0px;
}

.services--section {
	h2, h4{ 
		color:#616161;
	}
}

.smartphones--section {
	//background-color:#c22e37;
	background: #ae1825; /* Old browsers */
	background: -moz-linear-gradient(top,  #ae1825 0%, #c22e37 15%, #c22e37 15%, #c22e37 85%, #ae1825 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae1825), color-stop(15%,#c22e37), color-stop(15%,#c22e37), color-stop(85%,#c22e37), color-stop(100%,#ae1825)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ae1825 0%,#c22e37 15%,#c22e37 15%,#c22e37 85%,#ae1825 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ae1825 0%,#c22e37 15%,#c22e37 15%,#c22e37 85%,#ae1825 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ae1825 0%,#c22e37 15%,#c22e37 15%,#c22e37 85%,#ae1825 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ae1825 0%,#c22e37 15%,#c22e37 15%,#c22e37 85%,#ae1825 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae1825', endColorstr='#ae1825',GradientType=0 ); /* IE6-9 */
}

.tablets--section {
	background: #588436; /* Old browsers */
	background: -moz-linear-gradient(top,  #588436 0%, #739e4d 15%, #739e4d 85%, #588436 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#588436), color-stop(15%,#739e4d), color-stop(85%,#739e4d), color-stop(100%,#588436)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #588436 0%,#739e4d 15%,#739e4d 85%,#588436 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #588436 0%,#739e4d 15%,#739e4d 85%,#588436 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #588436 0%,#739e4d 15%,#739e4d 85%,#588436 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #588436 0%,#739e4d 15%,#739e4d 85%,#588436 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#588436', endColorstr='#588436',GradientType=0 ); /* IE6-9 */
}

.accessories--section {
	background: #c8692f; /* Old browsers */
	background: -moz-linear-gradient(top,  #c8692f 0%, #d68343 15%, #d68343 85%, #c8692f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8692f), color-stop(15%,#d68343), color-stop(85%,#d68343), color-stop(100%,#c8692f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c8692f 0%,#d68343 15%,#d68343 85%,#c8692f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c8692f 0%,#d68343 15%,#d68343 85%,#c8692f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c8692f 0%,#d68343 15%,#d68343 85%,#c8692f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c8692f 0%,#d68343 15%,#d68343 85%,#c8692f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8692f', endColorstr='#c8692f',GradientType=0 ); /* IE6-9 */
}

.coolstuff--section {
	background: #216ca8; /* Old browsers */
	background: -moz-linear-gradient(top,  #216ca8 0%, #3287bd 15%, #3287bd 85%, #216ca8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#216ca8), color-stop(15%,#3287bd), color-stop(85%,#3287bd), color-stop(100%,#216ca8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #216ca8 0%,#3287bd 15%,#3287bd 85%,#216ca8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #216ca8 0%,#3287bd 15%,#3287bd 85%,#216ca8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #216ca8 0%,#3287bd 15%,#3287bd 85%,#216ca8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #216ca8 0%,#3287bd 15%,#3287bd 85%,#216ca8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216ca8', endColorstr='#216ca8',GradientType=0 ); /* IE6-9 */	
}

.services--section {
	color:#616161;
	background-color: #dedede;
}

.xperiabg {
	background-color:#000000;
	background-image:url('/sony/images/xperiabg.jpg');
	background-repeat:repeat-y;
	height:100%;
}

.section--bottomtext__left {
	bottom: 0px;
	position: absolute;
	margin-left: 55px;
	margin-bottom: 50px;
}

.section--bottomtext__right {
	bottom: 0px;
	position: absolute;
	margin-left: 550px;
	margin-bottom: 50px;
}
