/**
 * bxsliderProducts v4.0 - Fully loaded, responsive content slider
 * http://bxsliderProducts.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */

.slider, .pslider {
	background-color: black;
	color:white;

}

.pslider {
	background: #252b3b;
	opacity:0.9;
	padding:20px 0px;

}


/**
 * 
 * HOME PAGE SLIDER
 * RESET AND LAYOUT
 * 
===================================*/

.homepage .bx-wrapper {
	position: relative;
	margin: 0 auto 0px;
	padding: 0;
	*zoom: 1;
}

.homepage .bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.homepage .bx-wrapper .bx-pager,
.homepage .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

/* LOADER */

.homepage .bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(/sony/images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.homepage .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-left: 60px;
	padding-right: 50px;
	padding-top: 20px;
	background: black;
	width: 110px;
	/* margin: 0; */
	margin-left: 360px;
	height: 40px;
	margin-bottom: -20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align:center;
	opacity: 0.7;
	filter: alpha(opacity=40);
}

.homepage .bx-wrapper .bx-pager .bx-pager-item,
.homepage .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	margin-top:5px;
	*zoom: 1;
	*display: inline;
}

.homepage .bx-wrapper .bx-pager.bx-default-pager {
	left:10px;
}
.homepage .bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.homepage .bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: #878787;
}

.homepage .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #ffffff;
}	

/* CONTROLS */

.homepage .bx-wrapper .bx-prev {
	left: 380px;
	background: url(/sony/images/controls.png) no-repeat 0 -32px;
}

.homepage .bx-wrapper .bx-next {
	right: 410px;
	background: url(/sony/images/controls.png) no-repeat -43px -32px;
}	

.homepage .bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.homepage .bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.homepage .bx-wrapper .bx-controls-direction a {
	position: absolute;
	bottom: 3%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.homepage .bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}


/**
 * 
 * PRODUCT SLIDER (SMARTPHONES)
 * RESET AND LAYOUT
 * 
===================================*/

.sp_products .bx-wrapper {
	position: relative;
	margin: 0 110px !important;
	padding: 0;
	*zoom: 1;
}

.sp_products .bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.sp_products .bx-wrapper .bx-viewport {

}

.sp_products .bx-wrapper .bx-pager,
.sp_products .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.sp_products .bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(/sony/images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.sp_products .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.sp_products .bx-wrapper .bx-pager .bx-pager-item,
.sp_products .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.sp_products .bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.sp_products .bx-wrapper .bx-pager.bx-default-pager a:hover,
.sp_products .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.sp_products .bx-wrapper .bx-prev {
	left: -45px;
	background: url(/sony/images/controls.png) no-repeat 0 -32px;
}

.sp_products .bx-wrapper .bx-next {
	right: -35px;
	background: url(/sony/images/controls.png) no-repeat -43px -32px;
}

.sp_products .bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.sp_products .bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.sp_products .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.sp_products .bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.sp_products .bx-wrapper .bx-controls-auto {
	text-align: center;
}

.sp_products .bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(/sony/images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.sp_products .bx-wrapper .bx-controls-auto .bx-start:hover,
.sp_products .bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.sp_products .bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(/sony/images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.sp_products .bx-wrapper .bx-controls-auto .bx-stop:hover,
.sp_products .bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.sp_products .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.sp_products .bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.sp_products .bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}


/**
 * 
 * PRODUCT SLIDER (SMARTPHONES)
 * RESET AND LAYOUT
 * 
===================================*/

.products_comp .bx-wrapper {
	position: relative;
	margin: 0 80px 60px !important;
	max-width:840px !important;
	padding: 0;
	*zoom: 1;
}

.products_comp .bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.products_comp .bx-wrapper .bx-pager,
.products_comp .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.products_comp .bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(/sony/images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.products_comp .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.products_comp .bx-wrapper .bx-pager .bx-pager-item,
.products_comp .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.products_comp .bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.products_comp .bx-wrapper .bx-pager.bx-default-pager a:hover,
.products_comp .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.products_comp .bx-wrapper .bx-prev {
	left: -35px;
	background: url(/sony/images/controls.png) no-repeat 0 -32px;
}

.products_comp .bx-wrapper .bx-next {
	right: -35px;
	background: url(/sony/images/controls.png) no-repeat -43px -32px;
}

.products_comps .bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.products_comp .bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.products_comp .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -890px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.products_comp .bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.products_comp .bx-wrapper .bx-controls-auto {
	text-align: center;
}

.products_comp .bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(/sony/images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.products_comps .bx-wrapper .bx-controls-auto .bx-start:hover,
.products_comp .bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.products_comp .bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(/sony/images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.products_comp .bx-wrapper .bx-controls-auto .bx-stop:hover,
.products_comp .bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.products_comp .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.products_comp .bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.products_comp .bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}


p.bxSlider--text {
	margin-top:20px;
	text-align:center !important;
	font-size:12px;
	font-weight:bold;
}
