<div class="brochures grid_25 alpha omega">

  {{> header}}

  <div class="document-download">
    <div class="document-download__main">
      <h3 class="document-download__title">
        <img src="images/titles/XperiaBusinessBrochure.png" alt="Xperia&trade; Business Brochure"/>
      </h3>
      <div class="document-download__desc">
        <p>Work Smart. Work with Sony Xperia&trade;.</p>
        <p>The Sony Xperia&trade; range is designed with the full history of Sony's experience and expertise in consumer electronics behind it, making both the hardware and the software a force to be reckoned with.</p>
      </div>
      <a class="sony-button" href="http://content.yudu.com/A2krv5/EMPSonyB2B2013/resources/index.htm">Download</a>
    </div>
    <div class="document-download__aside">
      <img class="document-download__image" src="images/brochures/XperiaBusinessBrochure.png" alt="Image of Xperia&trade; Business Brochure"/>
    </div>
  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {}

</script>
