<div class="sp_products container--margin__reset">

  {{> header}}
  
  <div class="grid_25 xperiabg">
    <div class="grid_25 product alpha">
      <div class="grid_8 prefix_1">
        <img src="images/brochures.png" alt="Xperia Business Brochure"/>
      </div>
      <div class="grid_14">   
        <h2><img src="images/titles/brochures.png" alt="Image of Xperia Business Brochure"/></h2>
        <p>Work Smart. Work with Sony Xperia&trade;.</p>
        </br>
        <p>The Sony Xperia&trade; range is designed with the full history of Sony's experience and expertise in consumer electronics behind it, making both the hardware and the software a force to be reckoned with.</p>
        <a class="sony-button" href="http://content.yudu.com/A2krv5/EMPSonyB2B2013/resources/index.htm">Download</a>
      </div>
    </div>
  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {}

</script>
