<div class="promotions grid_25 alpha omega">

  {{> header}}

  <div class="promotion">
    <img src="images/promotions/tech-aid-promotion-flyer.jpg" alt="Purchase Sony products between 31st Auguest and 31st December 2014, and you will be entered into a draw to win the opportunity to go to Ghana and help build a school."/>
  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {}

</script>
