<div class="container--margin__reset sp_products promotions">

  {{> header}}

  <div class="main grid_25">

    <div class="promotion">
      <img src="images/promotions/techAd.jpg" alt="Purchase Sony products between 31st Auguest and 31st December 2014, and you will be entered into a draw to win the opportunity to go to Ghana and help build a school."/>
    </div>
  
  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {}

</script>
