// colour variables to be used in modules

$body-text: #fff;
$body-background: #000;

// $button-background: #727a7d;

// $section-background: #ededed;
// $section-background-alt: #d9d9d9;

$sony-red:            #ae1825;
$sony-lighter-red:    #c22e37;
$sony-orange:         #c8692f;
$sony-lighter-orange: #d68343;
$sony-green:          #588436;
$sony-lighter-green:  #739e4d;
$sony-blue:           #216ca8;
$sony-lighter-blue:   #3287bd;
