// this file is reserved for TRUELY microsite-wide global styles only
// other than .sony-microsite there should NO classes or IDs in here

.sony-microsite {
  font-family: Helvetica, Arial, Calibri, sans-serif;

  // xperia background - offset by 180px for header
  background-color: $body-background;
  background: url('/sony/images/xperia-background.jpg') 0 180px repeat-y;

  @extend .clearfix;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 { 
    margin: 20px 0;
    padding: 0;
    height: auto;
    font-weight: bold;
    line-height: normal;
    color: $body-text;
  }

  h1, .h1 { font-size: 34px; }
  h2, .h2 { font-size: 24px; }
  h3, .h3 { font-size: 18px; }
  h4, .h4 { font-size: 14px; }
  h5, .h5 { font-size: 12px; }
  h6, .h6 { font-size: 10px; }

  p,
  ul,
  ol,
  dl {
    font-size: 14px;
    line-height: 1.42em; // 14 / 20
    color: $body-text;
  }

  strong {
    font-weight: bold;
  }
}
