//
// _shame.scss
//
// this is a dumping ground for quick and nasty styles that haven't been
// abstracted to modules yet.
//

#mp-header {
  margin-bottom: 15px;
}

.homepage .menu {
  margin-bottom:0px;
  background-color:black;
  z-index:999;
}

.line-height
{
  line-height:20px;
}

.header {
  text-align: center;
  color: #ffffff;
  background: #000000; // fallback for older browsers
  background: linear-gradient(to right, #000000 0%, #8092ba 100%); 
}

.accessories .header {
  background: #c8692f;
}

.coolstuffs .header {
  background: #216ca8;
}

.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  position:absolute;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}

.xperiabg, .accessories {
  h1,h2,h3,h4,h5,h6 {
    color:#ffffff;
  }
}

.products_comp {
  p {
    font-size: 12px;
  } 
}

.accessories .main {
  background-color: #d68343;
  background-image: url('/sony/images/xperiabg.jpg');
  background-repeat: repeat-y;
}

.tablets .main {
  background-color: #000000;
  background-image: url('/sony/images/xperiabg.jpg');
  background-repeat: repeat-y;
}
